@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
  height: 100%;
  text-decoration: none;
  list-style: none;
 
}

body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

#root{
 
}

code {
  font-family: 'Roboto', sans-serif;
}
